
            h1{
                letter-spacing: 20px;
            }
            #test1 {
                background-color: blue;
                color: rgb(232, 247, 30);
                font-size: 22px;
            }

            .test2 {
                background-color: cornflowerblue;
                color: #000;
                font-size: 14px;
                line-height: 2.5;
            }
        